.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .project-card {
    margin: 20px;
  }
  
  .create-project-button {
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #6200ea;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .create-project-button:hover {
    background-color: #4500b3;
  }

  button.active {
    background-color: #007bff;
    color: white;
  }

  .delete-pledge-btn {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .delete-pledge-btn:hover {
    background-color: darkred;
  }
  