/* General NavBar Styles */
.navbar {
  background-color: #3c2f2f; /* Earthy dark tone */
  color: white;
  padding: 0.5rem 1.5rem;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-logo {
  display: flex;
  align-items: center;  
  gap: 0.5rem;
  cursor: pointer;
}

.navbar-logo-img {
  height: 60px;
  width: auto;
  border-radius: 50%;
  object-fit: contain;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
  margin: 0;
}

.navbar-links li {
  margin: 0;
}

.navbar-links.open {
  display: flex;
  z-index: 1000; /* Above the overlay */
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s ease;
  margin-bottom: 1rem;
}

.navbar-links a:hover,
.navbar-links a:focus {
  color: #f0c14b; /* Vibrant accent color */
  outline: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  z-index: 999; /* Below the menu but above the content */
}

/* Burger Menu */
.burger-menu {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  height: 18px;
  width: 25px;
  z-index: 1001;
}

.burger-bar {
  height: 3px;
  width: 100%;
  background-color: white;
  transition: all 0.3s ease;
}

/* Responsive Design */
@media (max-width: 768px) {
  .burger-menu {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 25px;
    z-index: 1001; /* Ensure it's above other content */
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    background-color: #3c2f2f; /* Same as navbar */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* text-align: center; */
    padding: 2rem 1rem;
    z-index: 1000; /* Above the content */
    overflow-y: auto; /* Allow scrolling if content exceeds height */
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-links li {
    margin: 0.5rem 0;
  }

  .navbar-links a {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 1rem;
    text-align: center;
  }

  .navbar-logo-img {
    height: 50px; /* Smaller logo on smaller screens */
  }
}

/* Accessibility */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }